#results{
  display: none;
  height: 500px;
  position: absolute;
  width: 84.5%;
  left: 27px;
  top: 115px;
  z-index: 1;
  background-color:rgba(255, 255, 255, 0.9);
  i.fa-spin{
    color: #ccc;
    font-size: 500%;
    margin-top: 200px;
    margin-left: 40%;
  }

  .close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
  }
}

@media (min-width: 768px){
  #results{
    left: 105px;
    i.fa-spin{
      margin-left: 45%;
    }
  }
}

.result-switcher {
  text-align: center;
  margin-top: 20px;
  display: none;
}

.result-switcher .fieldset {
  display: inline-block;
  position: relative;
  padding: 2px;
  border-radius: 50em;
  border: 2px solid #2d3e50;
}

.result-switcher input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.result-switcher label {
  position: relative;
  z-index: 1;
  display: inline-block;
  float: left;
  width: 90px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-size: 1.4rem;
  color: #ffffff;
  margin-bottom: 0;
}

.result-switcher .switch {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 40px;
  width: 90px;
  background-color: #2d3e50;
  border-radius: 50em;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
.result-switcher input[type="radio"] + label{
  color: #2d3e50;
}

.result-switcher input[type="radio"]:checked + label{
  color: #fff;
}

.result-switcher input[type="radio"]:checked + label + .switch,
.result-switcher input[type="radio"]:checked + label:nth-of-type(n) + .switch {
  color: #ffffff;
  -webkit-transform: translateX(90px);
  -moz-transform: translateX(90px);
  -ms-transform: translateX(90px);
  -o-transform: translateX(90px);
  transform: translateX(90px);
}

.result-information{
  display: none;
  #new-account-text{
    font-size: 13px;
    text-align: center;
  }
  #price{
    color: rgba(132, 206, 66, 1);
    font-size: 600%;
    margin-top: 30px;

  }
}

.additional-information{
  display: none;
  position: absolute;
  bottom: 0;
  #disclaimer{
    font-size: 13px;
  }
  #new-search{
    float: right;
  }
}
